# Trendmoon MCP Server Configuration
TRENDMOON_SERVER_NAME=trendmoon-mcp-server
TRENDMOON_HTTP_MODE=false
TRENDMOON_HTTP_PORT=3000

TRENDMOON_API_URL=https://api.qa.trendmoon.ai
TRENDMOON_API_KEY=xxxxxxxxx
LLM_API_KEY="sk-xxxx"
LLM_BASE_URL="https://openrouter.ai/api/v1"
LLM_MODEL_NAME="openai/gpt-3.5-turbo"
DEBUG_MODE=false
